//typography
@font-face {
  font-family: "sourceSansPro";
  src: url("../assets/font/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "sourceSansProBlack";
  src: url("../assets/font/SourceSansPro-Black.otf");
}
@font-face {
  font-family: "sqr721";
  src: url("../assets/font/sqr721b.ttf");
}
